[Unit]
Description=Starts Embarcados Qt demo application
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/qt-artigo-embarcados-screen2.sh

[Install]
WantedBy=multi-user.target
